################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/output/Clients/com.companyname.terminalmacs.clients.app.apk
/src/TerminalMACS.Clients/TerminalMACS.Clients.App/.vs/TerminalMACS.Clients.App
/src/TerminalMACS.Clients/TerminalMACS.Clients.App/TerminalMACS.Clients.App/bin
/src/TerminalMACS.Clients/TerminalMACS.Clients.App/TerminalMACS.Clients.App/obj
/src/TerminalMACS.Clients/TerminalMACS.Clients.App/TerminalMACS.Clients.App.Android/bin
/src/TerminalMACS.Clients/TerminalMACS.Clients.App/TerminalMACS.Clients.App.Android/obj
/src/TerminalMACS.Clients/TerminalMACS.Clients.App/TerminalMACS.Clients.App.iOS/bin
/src/TerminalMACS.Clients/TerminalMACS.Clients.App/TerminalMACS.Clients.App.iOS/obj
*.user
TerminalMACS.Clients/TerminalMACS.Clients.App/.vs
TerminalMACS.Clients/TerminalMACS.Clients.App/TerminalMACS.Clients.App.Android/bin
TerminalMACS.Clients/TerminalMACS.Clients.App/TerminalMACS.Clients.App.Android/obj
TerminalMACS.Clients/TerminalMACS.Clients.App/TerminalMACS.Clients.App.iOS/obj
TerminalMACS.Clients/TerminalMACS.Clients.App/TerminalMACS.Clients.App/bin
TerminalMACS.Clients/TerminalMACS.Clients.App/TerminalMACS.Clients.App/obj