################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
*.user
/src/TerminalMACS.Clients/TerminalMACS.Clients.App/.vs
/src/TerminalMACS.Clients/TerminalMACS.Clients.App/TerminalMACS.Clients.App/bin
/src/TerminalMACS.Clients/TerminalMACS.Clients.App/TerminalMACS.Clients.App/obj
/src/TerminalMACS.Clients/TerminalMACS.Clients.App/TerminalMACS.Clients.App.Android/bin
/src/TerminalMACS.Clients/TerminalMACS.Clients.App/TerminalMACS.Clients.App.Android/obj
/src/TerminalMACS.Clients/TerminalMACS.Clients.App/TerminalMACS.Clients.App.iOS/bin
/src/TerminalMACS.Clients/TerminalMACS.Clients.App/TerminalMACS.Clients.App.iOS/obj
output/Clients/com.companyname.terminalmacs.clients.app.apk
src/TerminalMACS.Server/.vs
src/TerminalMACS.Manager/TerminalMACS.ManagerForWPF/.vs
src/TerminalMACS.Manager/TerminalMACS.ManagerForWPF/TerminalMACS/bin
src/TerminalMACS.Manager/TerminalMACS.ManagerForWPF/TerminalMACS/obj
src/TerminalMACS.Manager/TerminalMACS.ManagerForWPF/TerminalMACS.Infrastructure.UI/bin
src/TerminalMACS.Manager/TerminalMACS.ManagerForWPF/TerminalMACS.Infrastructure.UI/obj
src/TerminalMACS.Manager/TerminalMACS.ManagerForWPF/TerminalMACS.Infrastructure/bin
src/TerminalMACS.Manager/TerminalMACS.ManagerForWPF/TerminalMACS.Infrastructure/obj
src/TerminalMACS.Manager/TerminalMACS.ManagerForWPF/AduSkin/bin
src/TerminalMACS.Manager/TerminalMACS.ManagerForWPF/AduSkin/obj
